p.name {
	font-size: 0.9rem;
	font-family: Verdana, sans-serif;
}

p.activiy {
	font-family: Arial, serif;
	font-size: 0.85rem;
	padding-left: 5px !important;
}

.date {
	font-style: italic;
	font-size: 0.7rem;
	font-family: Arial, serif;
}

.result-item:hover {
	color: #495057;
	text-decoration: none;
	background-color: #f8f9fa;
}

.addr {
	font-size:60%;
}

.fa, .fas {
	margin-right: 10px;
}

.fa.fa-id-card {
	color: #6b2b4f;
}