<section>
  <!-- <p>
    {{ result.recordid }}
    {{ result.date }}
  </p> -->
  <div 
    class="row result-item"
    (mouseenter)="showMarker()"  
    (mouseleave) ="leaveMarker()"
    (click)="activeMarker()"
  >
    <div class="border-top border-bottom shadow-sm p-4">
      <p class="name"><i class="fa fa-id-card" aria-hidden="true"></i> {{ result.fields['l1_declaree'] }}</p>

      <p class="p-2 activity">{{ result.fields['libapen'] }}</p>
      <p>
        <i class="fas fa-home"></i>
        <span class="addr font-italic text-muted">
          {{ result.fields['numvoie'] }}
          {{ result.fields['indrep'] }}
          {{ result.fields['typvoie'] }}
          {{ result.fields['libvoie'] }}
          {{ result.fields['codpos'] }}
          {{ result.fields['cedex'] }}
          {{ result.fields['libcom'] }}
        </span>
      </p>
      <p>
        <span class="addr font-italic text-muted">
          {{ result.fields['code_classe'] }} - {{ result.fields['apet700'] }}
        </span>
      </p>


      <div class="row">
        <span>SIREN - {{ result.fields['siren'] }}</span>
      </div>
      
      <span 
        class="text-muted date"
        *ngIf="result.fields['dcren']"
      >crée le  {{ prettyDate(result.fields['dcren']) }}</span>  

    </div>
  
<!--   <hr>
    <ul class="col-8">

      <li *ngFor="let field of result.fieldsTags">
        <span class="bold">{{ field }} :</span>  {{ result.fields[field] }}
      </li>
    </ul>
 -->
  </div>
</section>