<div class="col-10 offset-1">
  <p 
    *ngIf="results.length > 0; else noResult"
    class="text-secondary"
    style="padding-top: 10px"
  >
    {{ results.length }} entreprise{{ results.length > 1 ? 's' : ''}}  correspond{{ results.length > 1 ? 'ent' : ''}} à votre recherche
  </p>

  <ng-template #noResult>
      Aucune entreprise ne correspond à votre recherche.
  </ng-template>

  <ul
    id="result"
    class="list-group pt-2"
    
  >
    <li 
      class="list-item"
      *ngFor="let result of results"
    >
      <app-result-item [result]="result"></app-result-item>
    </li>
  </ul>
</div>