.label-form {
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
}

input {
	text-align: center;
}

form {
	background: white;
	border-radius: 15px; 
}

.container {
	border-radius: 4px;

}
h3 {
	color:#262638;
}

h4, h5 {
	color:#042d56;
}

::ng-deep .mat-radio-container {
	visibility: hidden !important;
}