<div class="container bg-light">
  <div class="row">
    <div class="col text-center my-3">
        <h3 class="font-weight-normal">Lancer une recherche</h3>
    </div>
  </div>

  <div class="row">
    <div class="px-3">
      <h4 class="font-weight-light my-3">Activité</h4>
      <label
      for="constraintActivity"
    >
    Restreindre la recherche à ces activités :
    </label>
    <input
        type="checkbox"
        id="constraintActivity"
        #constraintActivityEnabled
        name="constraintActivity"
        checked
      >

      <ul class="list-group d-flex flex-row flex-wrap">
        <li class="list-group-item w-50" *ngFor='let code of defaultActivitiesCode; let i = index'>
          <span class="font-weight-bold ">{{ code }} :</span> {{ defaultActivitiesName[i] }}
        </li>
      </ul>
    </div>
  </div>


  <div class="row my-2">
      <div class="px-3">
      <h4 class="font-weight-light my-3">Secteur</h4>
      <label
        for="constraintSecteur"
      >
      Restreindre la recherche à ces départements :
      </label>
      
      <input
        type="checkbox"
        id="constraintSecteur"
        #constraintSecteurEnabled
        name="constraintSecteur"
        checked
      >
      <ul class="list-group d-flex flex-row flex-wrap">
        <li  class="list-group-item w-50" *ngFor='let depet of defaultDepertement'>
          {{ depet }}
        </li>
      </ul>
      
    </div>
  </div>
    

  <p class="text-muted font-italic">Ouverture  : </p>
  <mat-radio-group [(ngModel)]="timeSearch" class="example-radio-group" >
    <mat-radio-button value="today" class="example-radio-button"  aria-label="">
      Aujourd'hui
    </mat-radio-button>

    <mat-radio-button value="weeks" class="example-radio-button"  aria-label="">
      Sous quatre semaines 
    </mat-radio-button>

    <mat-radio-button value="last_weeks" class="example-radio-button"  aria-label="">
      Quatre dernières semaines 
    </mat-radio-button>
  </mat-radio-group>

  <div class="row my-2 p-2">
      <button
      class="btn btn-success"
      (click)="searchDefault()"
    >
      C'est parti !
    </button>
  </div>

  
  <!-- <form #f>
    <div class="form-group">
  
        <input
        class="form-control"
        type="text"
        placeholder="Que cherchez vous ?"
        (click)="showBasicInput()"
      >
    </div>

    <div *ngIf="basicInput">
        <div class="form-group">
  
            <input
              class="form-control"
              type="number"
              min="1"
              max="95"
              placeholder="Un numéro de département ?"
              (click)="showBasicInput()"
            >
          </div>
      
      
          <div class="form-group">
      
            <input
              class="form-control"
              type="date"
            >
          </div>

          <button
            class="btn btn-success"
            (click)="onSubmit(f)"
          >
            C'est parti !
          </button>
    </div>
    

  </form> -->
  
</div>





