ul {
  list-style-type: none;
}

/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}


.list-item > section.row {
  box-shadow: 0 0 4px 1px #f3e7e7;
  background: #f6f6f6;
  border: 1px solid #f2ebeb;
}

app-result-list {
  position: fixed;
  left: 0;
  width: 35%;
  min-width: 408px;
  background: white;
  border-left:1px solid gray;
  height: 100vh;
  top:0px;
  padding-top: 50px; 

  overflow-y: auto;
  overflow-x: hidden;
}

agm-marker.active {
  color: blue;
}

app-search-bar {
  position: fixed;
  z-index: 10;
  top:2.5vh;
  max-height: 95vh;
  left: 10%;
  width: 80%;
  overflow-x: hidden;
  overflow-x: auto;
}


agm-map {
  height: 100vh;
}

#mask-map {
  position: fixed;
  width:100%;
  height: 100vh;
  background: #3e3c3c;
  opacity: 0.25;
  z-index: 5;
  top:0;
  left: 0;
}