<agm-map 
  [latitude]="coordinates.lat" 
  [longitude]="coordinates.long"
  >
  <!-- <agm-marker 
    [latitude]="coordinates.lat" 
    [longitude]="coordinates.long"
  ></agm-marker> -->

  <div *ngFor="let result of results; let i = index">
    <agm-marker
    *ngIf="result.geometry"
    [latitude]="result.lat" 
    [longitude]="result.long"
    [iconUrl]="result.icon"
    [zIndex]="(result.isHover || result.isActive) ? 10 : 1"
   >
   <agm-info-window
   [isOpen]="result.isHover || result.isActive"
   >
    <strong>{{ result.fields.l1_declaree }}</strong>
  </agm-info-window>

  </agm-marker>
</div>

</agm-map>

<app-header
  (toggleNavBar)="toggleNavBar()"
></app-header>

<app-nav-bar 
  *ngIf="navbarIsOpen"
  (openSearch)="openSearch()"
></app-nav-bar>


<div *ngIf="searchIsVisible" id="mask-map"></div>
<div class="container">

<app-search-bar 
  *ngIf="searchIsVisible"
  (onSearchEnd)="onSearchEnd()"
></app-search-bar>

  <div class="col-10 mx-auto">    
    <!-- <app-result-list></app-result-list> -->
    
  </div>
</div>