<nav class="left-bar">
  <div id="content" class="left-bar">
    <ul class="list-group">
        <!-- <li
          class="list-group-item list-group-item-action"
        >
          Masquer les résultats
        </li> -->
        
        <li 
          class="list-group-item list-group-item-action"
          (click)="openSearch()"
        >
          Lancer une nouvelle recherche
        </li>
    </ul>
  
  
    <div 
    class="left-menu"
    *ngIf="results.length > 0"
    >
    <app-result-list></app-result-list>  
    </div>
  </div>
</nav>