nav {
    top: 0px;
   
    height: 100vh;
    
 
  
}

.left-bar {
    width: 20%;
    min-width: 300px;
    background: white;
    position: fixed;
    left: 0px;
 
}

nav > #content {
    top: 45px;
    height: calc(100vh - 45px);
    overflow: hidden auto;
}